<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="stylesheets/uikit.min.css">
        <script src="javascripts/uikit.min.js"></script>
        <script src="javascripts/uikit-icons.min.js"></script>
        <script src="javascripts/feed.js"></script>
        <title>Feed</title>
</script>
    </head>
    <body onload="testGenerateNewCards();">
        <h1 class="uk-heading-line uk-text-center uk-text-italic" id="heading"><span>Post Template</span></h1>
        <div class="uk-container uk-container-center uk-background-default" >
                <div class="uk-container uk-background-default" style="z-index: 980" uk-sticky="bottom: #offset">
                <ul class="uk-iconnav">
                        <li><a href="" uk-icon="icon: home" class="uk-icon-align-center uk-icon-large"></a></li>
                        <li><a href="" uk-icon="icon: file-edit" class="uk-icon-align-center uk-icon-large"></a></li>
                        <li><a href="" uk-icon="icon: heart" class="uk-icon-align-center uk-icon-large"></a></li>
                        <li><a href="" uk-icon="icon: more" class="uk-icon-align-center uk-icon-large"></a></li>
                </ul>
                </div>
            
                <div id = "cards" class="uk-child-width-1-2@m uk-align-center uk-background-default">
                        <div class="uk-card uk-card-default uk-card-hover uk-align-center" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
                                <h3 class="uk-card-title uk-text-left-medium">Post Title</h3>
                            <div class="uk-card-media-top">
                                <img src="assets/Artesonraju3.jpg" alt="Mountain">
                            </div>
                            <div class="uk-card-body">
                                <h3 class="uk-card-title uk-text-small">Posted by <a href="">Somebody</a></h3>
                                <p id="try">I Love Mountains...</p>
                                <a href="" uk-icon = "heart"></a>
                                <a href="" uk-icon = "comments"></a>
                            </div>
                </div>
        </div>
        <hr class="uk-divider-icon">
    </body>
</html>
