<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/uikit.min.css">
    <script src="javascripts/uikit.min.js"></script>
    <script src="javascripts/uikit-icons.min.js"></script>
    <script src="javascripts/feed.js"></script>
    <link rel="icon" href="images/logo.ico" type="image/x-icon">
    <title>Feed | Photogram</title>
</head>

<body onload="generatePosts();">
    <header class="uk-margin-medium-bottom" style="background-color: #fff; border-bottom: 1px solid #dbdbdb"
        data-uk-sticky="show-on-up: true; animation: uk-animation-fade">
        <div class="uk-container uk-container-small">
            <nav id="navbar" data-uk-navbar="mode: click;">
                <div class="uk-navbar-left">
                    <a class="uk-navbar-item uk-logo" href="/feed"><img src="images/photogram.png" alt="Logo"
                            style="width: 180px; height: 40px"></a>
                </div>
                <div class="uk-navbar-center">
                    <ul class="uk-navbar-nav">
                        <li>
                            <form class="uk-search uk-search-default">
                                <span class="uk-search-icon-flip" uk-search-icon></span>
                                <input class="uk-border-rounded uk-search-input" type="search" placeholder="Search...">
                            </form>
                        </li>
                    </ul>
                </div>
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav">
                        <li>
                            <a href="#" data-uk-icon="icon:heart"></a>
                        </li>
                        <li>
                            <a id="profile" href="/profile" data-uk-icon="icon:user"></a>
                        </li>
                        <li>
                            <a id="signout" href="#modal-overflow" data-uk-icon="icon:sign-out" uk-toggle></a>
                        <div id="modal-overflow" uk-modal>
                            <div class="uk-modal-dialog">

                                <button class="uk-modal-close-default" type="button" uk-close></button>

                                <div class="uk-modal-header">
                                    <h2 class="uk-modal-title">Sign-out</h2>
                                </div>
                                <div class="uk-modal-body" uk-overflow-auto>
                                    <p class = "uk-text-large">Photogram is fun! You sure you wanna leave???</p>
                                    <img src="images/slide-1.jpg">
                                </div>
                                <div class="uk-modal-footer uk-text-right">
                                <form action="/logout?_method=DELETE" method="POST">
                                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                                    <button type="submit" class="uk-button uk-button-danger">Log Out</button>
                                </form>
                                </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <div class="uk-container uk-container-small">
        <div id="posts" class="uk-child-width-1-2@m uk-align-center uk-background-default">
            <!-- Posts will be added here. -->
        </div>
    </div>
    <hr class="uk-divider-icon">
</body>

</html>
