<!DOCTYPE html>

<html lang="en">
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="stylesheets/uikit.min.css">
        <script src="javascripts/uikit.min.js"></script>
        <script src="javascripts/uikit-icons.min.js"></script>
		<title>Profile</title>
	</head>
	<body>
        <div class="uk-flex uk-flex-center">
            <div>
                <h1 id="heading">Hi, <%= name %>!</h1>
                <form action="/uploadimage" enctype="multipart/form-data" method="POST" class="uk-form-stacked">
                    <label for="image" class="uk-form-label">Select image and save in MongoDB:</label>
                    <input id="image" type="file" name="image" accept="image/*" />
                    <input type="submit" value="Upload" />
                </form>
                <a href="/images">All images</a>
                <p>TODO: To find image by ID: </p>
                <p>http://localhost:3000/image/{image-id}</p>
                <form action="/logout?_method=DELETE" method="POST">
                    <button type="submit" class="uk-button uk-button-default">Log Out</button>
                </form>
            </div>
        </div>
	</body>
</html>
