<!DOCTYPE html>

<html lang="en">
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="uikit/css/uikit.min.css">
        <script src="uikit/js/uikit.min.js"></script>
        <script src="uikit/js/uikit-icons.min.js"></script>
		<script src="index.js"></script>
		<title>Login</title>
	</head>
	<body>
		<h1>Login</h1>
        <% if (messages.error) { %>
            <%= messages.error %>
        <% } %>
        <form action="/login" method="POST">
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
        <a href="/register">Register</a>
	</body>
</html>
