<!DOCTYPE html>

<html lang="en">
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="stylesheets/uikit.min.css">
        <script src="javascripts/uikit.min.js"></script>
        <script src="javascripts/uikit-icons.min.js"></script>
		<title>Login</title>
	</head>
	<body>
        <div>
            <div class="uk-flex uk-flex-center">
                <div>
                    <h1 id="heading">Login</h1>
                    <% if (messages.error) { %>
                        <%= messages.error %>
                    <% } %>

                    <form action="/login" method="POST" class="uk-form-stacked">
                        <div>
                            <label for="email" class="uk-form-label">Email</label>
                            <input type="email" id="email" name="email" required>
                        </div>
                        <div>
                            <label for="password" class="uk-form-label">Password</label>
                            <input type="password" id="password" name="password" required>
                        </div>
                        <button type="submit" class="uk-button uk-button-default" id="submit">Login</button>
                    </form>
                    <a href="/register" id="register">Register</a>
                </div>
            </div>
        </div>
	</body>
</html>
