<!DOCTYPE html>

<html lang="en">
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="stylesheets/uikit.min.css">
        <script src="javascripts/uikit.min.js"></script>
        <script src="javascripts/uikit-icons.min.js"></script>
		<title>Login</title>
	</head>
	<body>
        <div>
            <h1 id="heading" class="uk-position-top-center">Login Page</h1>
            <% if (messages.error) { %>
                <%= messages.error %>
            <% } %>
        <div class="uk-container-large uk-container-center">
                <form action="/login" method="POST" class="uk-form-stacked uk-position-center">
                    <div class="uk-margin">
                        <label for="email" class="uk-form-label uk-text-large">Email</label>
                        <input type="email" class="uk-input uk-form-width-medium" placeholder="email@email.com" id="email" name="email" required>
                    </div>
                    <div class="uk-margin">
                        <label for="password" class="uk-form-label uk-text-large">Password</label>
                        <input type="password" class= "uk-input uk-form-width-medium" id="password" placeholder="Password" name="password" required>
                    </div>
                    <button type="submit" class="uk-button uk-button-primary" id="submit">Login</button>
                    <a href="/register" id="register" class="uk-position-relative">Register</a>  
                </form>
            </div>
        </div>
	</body>
</html>
