<!DOCTYPE html>

<html lang="en">
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="stylesheets/uikit.min.css">
        <script src="javascripts/uikit.min.js"></script>
        <script src="javascripts/uikit-icons.min.js"></script>
		<title>Register</title>
	</head>
	<body>
        <div class="uk-flex uk-flex-center">
            <div>
                <h1>Register</h1>
                <form action="/register" method="POST" class="uk-form-stacked">
                    <div>
                        <label for="name" class="uk-form-label">Name</label>
                        <input type="text" id="name" name="name" required>
                    </div>
                    <div>
                        <label for="email" class="uk-form-label">Email</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div>
                        <label for="password" class="uk-form-label">Password</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <button type="submit" class="uk-button uk-button-default">Register</button>
                </form>
                <a href="/login">Login</a>
            </div>
        </div>
	</body>
</html>
