<!DOCTYPE html>

<html lang="en">
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="stylesheets/uikit.min.css">
        <script src="javascripts/uikit.min.js"></script>
        <script src="javascripts/uikit-icons.min.js"></script>
		<title>Register</title>
	</head>
	<body>
        <div class="uk-flex uk-flex-center">
                <h1 id="heading" class="uk-position-top-center">Register</h1>
                <form action="/register" method="POST" class="uk-form-stacked uk-position-center">
                    <div class="uk-margin">
                        <label for="name" class="uk-form-label uk-text-large">Name</label>
                        <input type="text" id="name" name="name" placeholder="Matt" class="uk-input uk-form-width-medium" required>
                    </div>
                    <div class="uk-margin">
                        <label for="email" class="uk-form-label uk-text-large">Email</label>
                        <input type="email" id="email" name="email" placeholder="Email@email.com" class="uk-input uk-form-width-medium" required>
                    </div>
                    <div class="uk-margin">
                        <label for="password" class="uk-form-label uk-text-large">Password</label>
                        <input type="password" id="password" name="password" placeholder="Password" class="uk-input uk-form-width-medium" required>
                    </div>
                    <button type="submit" class="uk-button uk-button-primary" id="submit">Register</button>
                    <a href="/login" id="login">Login</a>
                </form>
            </div>
        </div>
	</body>
</html>
