* {
    box-sizing: border-box;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#outerContainer {
	display: flex;
	flex: 1 1 100%;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

#innerContainer {
	display: flex;
	flex: 1 0 600px;
	width: 600px;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background: blue;
}